*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(to right,rgb(92, 92, 197),rgb(220, 119, 119));
}
.login_container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(19, 1, 16, 0.886);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

input[type="email"], input[type="password"] {
    width: calc(100% - 40px); /* Adjusting for icon width and padding */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(92, 92, 197);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgb(70, 70, 180);
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.checkbox a {
    color: rgb(92, 92, 197);
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}
